html{font-family:"黑体","Arial" ,arial,sans-serif;}
body{margin:0 auto;width:320px;background: none repeat scroll 0 0 #E7E7E7;}
.body_style{margin:0 auto;background:#e7e7e7;width:320px;height:0 auto}
.content_body{background-color: #FFFFFF;width: 303px;margin: 0 auto;margin-top:8px;}
.news_banner_about_cont{text-indent:2em;  line-height:2;font-size:14px;color:#808080;padding-top:10px;padding-right: 10px;padding-left: 10px; min-height:0px;}
a:link{text-decoration:none;color:#000000;}
a:visited{color:#FF0000;text-decoration:underline;}
a:hover{color:#FF0000;text-decoration:underline;}
.des_body{width:304px;}
