html{font-family:'黑体'}
body{margin:0 auto;width:320px;background:url('/images/videobj.jpg');background-size:320px;}
.body_style{margin:0 auto;width:320px;height:0 auto}
.top_video{width:320;height:186px;}
/*.videos{width:320px;margin:0 auto;opacity:1.75;position:fixed;top:0;}*/
.des_name{font-size:18px;padding-top:8px;padding-left:10px;}
.und_line{width:280px;height:2px;margin-left:12px;background-color:#d8d8d8;margin-bottom:20px;}
.content_body{background-color: #FFFFFF; overflow:scroll; border: 1px solid #BCBCBC;width: 303px;margin: 0 auto;margin-top:8px;}
.news_banner_about_cont{line-height:2;font-size:12px;color:#808080;padding-top:0px;padding-right: 10px;padding-left: 10px; min-height:0px;}
a:link{text-decoration:none;color:#000000;}
a:visited{color:#FF0000;text-decoration:underline;}
a:hover{color:#FF0000;text-decoration:underline;}
.des_body{width:304px;}
#biao{font-size:15px;padding-left:10px;color:#2e2e2e;height:26px;}
.sub_div{bottom:0px;margin-left:11px;  line-height: 50px; z-index: 1000; background:url("/images/question/fen.jpg")no-repeat;width:280px;height:53px;color:#ffffff;font-size:24px;text-align:center}
.com_left{width:104px;height:38px;padding-top: 7px; float:left;font-family:"微软雅黑";padding-left:20px;background:url('/images/playvideo_chapte.png')no-repeat;background-size:104px 38px;}
.com_le{width:50px;float:left;font-family:"微软雅黑";padding-left:25px;background:url('/images/playvideo_chapte1.png')no-repeat;}
.com_right{width:50px;font-family:"微软雅黑";color: #FFFFFF;font-size:20px;padding-right:40px;}
.txt_style{padding-left:62px;font-weight:10px;}
.videos{text-align: center;background:url('/images/bfbg.png')no-repeat;height:234px;width:312px; padding-top: 40px;background-size:312px 234px}
.bs{background:url('/images/bs.png')no-repeat; padding-right: 4px;float:right; margin-top:-26px;background-size:50px 32px;color:#FFFFFF;width:50px;height:32px;text-align:center; line-height: 2;}
.bottoms{background:url('/images/xfan.png')no-repeat;position:absolute;bottom:1px;width:320px;height:46px;background-size:320px 46px;}
.nestPre{float:left;line-height:3;padding-left: 28px;}
.markCom{float:right;line-height:3; padding-right: 28px;}
